Django==5.2.3
gunicorn==23.0.0
psycopg2-binary==2.9.10
python-dotenv==1.1.0

# Admin ve UI
django-jazzmin==3.0.1
django-import-export==4.3.7
django-colorfield==0.14.0
django-extensions==4.1

# PDF üretimi için
weasyprint==65.1
tinycss2==1.4.0
cssselect2==0.8.0
pyphen==0.17.2

# Yardımcı kütüphaneler
Jinja2==3.1.6
Faker==37.4.0
requests==2.32.4
schedule==1.2.2
soupsieve==2.7
beautifulsoup4==4.13.4
python-slugify==8.0.4